:root {
  --main-color: #ffffff;
  --secondary-color: #2196f3;
  --background-footer: #2f303a;
  --background-section: #f5f4fa;
  --primary-text-color: #212121;
  --seconary-text-color: #757575;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.transition {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__header {
  color: #000000;
}

.logo__footer {
  color: var(--main-color);
}

.section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.section_secondary-background {
  background-color: var(--background-section);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: collapse;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal__close-button:hover .modal__close-icon {
  fill: #2196F3;
}

.modal__close-icon {
  position: absolute;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 0;
  color: var(--seconary-text-color);
}

.modal-form__label:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__input:focus + .modal-form__field-icon {
  fill: #2196f3;
}

.modal-form__field {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-form__policy-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.modal-form__policy-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  background-image: url("../images/Vector_chkbox.svg");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__policy-input:focus + .modal-form__policy-label::before {
  background-image: url("../images/Vector-focus.svg");
}

.modal-form__policy-input:checked + .modal-form__policy-label::before {
  background-image: url("../images/icon check.svg");
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__policy-input {
  margin-right: 7px;
}

.modal-form__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__submit-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: var(--main-color);
  background-color: #2196F3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__submit-button:hover, .modal-form__submit-button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--secondary-color);
}

.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--main-color);
}

.social-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact {
    display: none;
  }
  .mobile-menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu-button__icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-button__icon:hover, .mobile-menu-button__icon:focus {
    fill: var(--secondary-color);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 48px 40px;
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu__close-icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
    fill: var(--secondary-color);
  }
  .mobile-menu__nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--secondary-color);
  }
  .mobile-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contact-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .mobile-menu__contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--seconary-text-color);
    text-decoration: none;
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .mobile-menu__nav-list {
    list-style: none;
  }
  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mobile-menu__social-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 -10px;
  }
  .mobile-menu__social-item {
    padding: 0 10px;
    flex-flow: calc((100%-80px)/4);
  }
  .mobile-menu__social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__social-thumb {
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 15px;
  }
  .nav-list {
    display: block;
  }
  .contact {
    display: block;
  }
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .nav-list__item {
    position: relative;
    height: 100%;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-bottom: 32px;
    padding-top: 32px;
    border: -1px;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--secondary-color);
  }
  .nav-list-link_active {
    color: var(--secondary-color);
  }
  .nav-list-link_active::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #188ce8;
    bottom: 0;
    opacity: 1;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
  .contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--seconary-text-color);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--secondary-color);
  }
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
  }
  .contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact__item:last-child {
    margin-left: 50px;
  }
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile.jpg);
  background-size: cover;
  background-color: var(--background-footer);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/header-mobile@2x.jpg");
  }
}

@media (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet.jpg");
  }
}

@media (min-width: 481px) and (min-device-pixel-ratio: 2), (min-width: 481px) and (min-resolution: 192dpi), (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/header-tablet@2x.jpg");
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-desktop.jpg");
  }
}

@media (min-width: 769px) and (min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 192dpi), (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/header-desktop@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1199px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.hero__button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  height: 50px;
  color: var(--main-color);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__img {
  width: 100%;
  height: 120px;
  background-color: var(--background-section);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-list__content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features-list__item {
    width: 354px;
    height: 251px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 0;
  }
  .features-list__item {
    width: 270px;
    margin: 0;
  }
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .features__img {
    width: 270px;
  }
}

.section_not-padding-top {
  padding-top: 0;
}

@media (max-width: 1199px) {
  .section_not-padding-top {
    display: none;
  }
}

.benefits-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefits-list__thumb {
  position: relative;
}

.benefits-list__name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.benefits-list__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list__item {
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.team-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.clients-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--secondary-color);
}

.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--secondary-color);
}

.clients-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-style: hidden;
  border-radius: 4px;
  color: var(--primary-text-color);
}

.projects-list__button:active, .projects-list__button:hover, .projects-list__button:focus {
  color: var(--main-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-projects__item {
  margin: 15px;
  flex-flow: calc((100%-90px) / 3);
}

.portfolio-projects__link {
  display: block;
  position: relative;
}

.portfolio-projects__link:hover, .portfolio-projects__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__link:hover .portfolio-projects__overlay, .portfolio-projects__link:focus .portfolio-projects__overlay {
  transform: translateY(0);
}

.portfolio-projects__thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-projects__overlay {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 63px 24px;
}

.portfolio-projects__content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-projects__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.footer {
  width: 100%;
  background: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  flex-grow: 1;
  margin-right: 70px;
}

.adress-list .link:focus, .adress-list .link:hover {
  color: var(--secondary-color);
}

.adress-list__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.adress-list__mail,
.adress-list__number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-right: 93px;
}

.footer-social__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.footer-social__name {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--secondary-color);
}

.footer-social__link:hover .footer-social__icon, .footer-social__link:focus .footer-social__icon {
  fill: var(--main-color);
}

.footer-social__icon {
  fill: var(--main-color);
}

.footer-subscribe__form {
  display: flex;
  justify-content: space-evenly;
}

.footer-subscribe__name {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-subscribe__label {
  margin-right: 12px;
  padding: 0;
}

.footer-subscribe__input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 15px 16px;
  color: var(--main-color);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscribe__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.footer-subscribe__button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */