.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.clients-list__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--secondary-color);
    
        .clients-list__icon {
            fill: var(--secondary-color);
        }
    }
}


.clients-list__icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}