.features-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: 767px) {
    .features-list__item:not(:last-child){
    margin-bottom: 30px;
}
}

.features__img {
    width: 100%;
    height: 120px;
    background-color: var(--background-section);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.features-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    text-align: center;
}

.features-list__content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--seconary-text-color);
}

@media screen and (min-width: 768px) {
    .features-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -15px;
    }

    .features-list__item{
        width: 354px;
        // height: 251px;
        margin: 15px;
    }

    .features-list__title{
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .features-list {
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        margin: 0;
    }

    .features-list__item {
        width: 270px;
        margin: 0;
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    .features__img {
        width: 270px;
    }
}
